body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1,
p {
  color: #333;
}

.container {
  padding: 20px;
  margin-bottom: 20px;
}

.partner-section {
  padding: 20px;
  margin-top: 30px;
}

.partner-logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.partner {
  margin-bottom: 30px;
}

.mast {
  background-color: #d3d2d2;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .row > div {
    margin-bottom: 20px;
  }

  .mast {
    margin-top: 20px;
  }
}
