body {
 // background-image: url("../images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.quote-section {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 2rem;
}

.quote-section h2 {
  font-size: 1.1rem;
}

.main-images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.title-bar {
  background-color: #fff;
}

.nav-link {
  color: blue !important;
}

.login-btn {
  background-color: #aadda0;
  color: #49486c;
}
